
body
{
  padding-top: 60px;
  /*background-attachment: fixed;
  background-image: -webkit-radial-gradient(left top, circle closest-corner, #fff 40%, #eee 90%);*/
}

/* bootstrap fix */

@media (max-width: 979px) {
  body {
    padding-top: 0;
  }
}
